
/* pagina de contactos */

.cajacontactos{
    color:$main-color;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @media (min-width:550px){
        margin-left: 10%;
        margin-right: 10%;
    }
    @media (min-width:720px){
        margin-left: 12%;
        margin-right: 12%;
    }
    @media (min-width:1400px){
        margin-left: 25%;
        margin-right: 25%;
    }
}
.logoscontactos{
    list-style: none;
    width: 25%;
    text-align: left;
    li{
        margin-top: 12px;
        margin-left: 8px;
        @media (min-width:550px){
            text-align: right;
        }
    }
    img{
        width: 42px;
        height: 44px;
        @media (min-width:720px){
            width: 46px;
            height: 48px;
        }
        @media (min-width:1400px){
            width: 50px;
            height: 52px;
        }
    }
}

.direccionescontactos{
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    width: 75%;
    @media (min-width:550px){
        padding-left: 15px;
        font-size: 22px;
    }
    @media (min-width:720px){
        line-height: 55px;
        font-size: 28px;
    }
    @media (min-width:1400px){
        line-height: 58px;
        font-size: 32px;
    }
    li{
        padding: 5px;
        a{
            text-decoration: none;
            color:$main-color;
            &:hover{
                transition: .5s;
                color: black;
                font-size: 34px;

            }
        }
    }
    
}
.invitacion{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: $main-color;
    padding: 4px;
    @media (min-width:550px){
        font-size: 24px;
        padding: 6px;
    }
    @media (min-width:720px){
        font-size: 28px;
        padding: 8px;
    }
    @media (min-width:1400px){
        font-size: 32px;
        padding: 10px;
    }
}
.section-CV{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2px;
    @media (min-width:550px){
        gap: 6px;
    }
    @media (min-width:720px){
        margin: 10px 50px;
    }
    @media (min-width:1400px){
        margin: 20px 150px;
    }
    p{
        font-size: 18px;
        font-weight: bold;
        margin: 8px;
        @media (min-width:550px){
            font-size: 22px;
        }
        @media (min-width:720px){
            font-size: 24px;
        }
        @media (min-width:1080px){
            font-size: 26px;
            gap: 5px;
        }
        @media (min-width:1400px){
            font-size: 28px;
            gap: 10px;
        }
    }
    button{
        color: white;
        padding: 8px 20px;
        border-radius: 4px;
        border: none;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
        background-color: $main-color;
        transition: all 0.1s ease;
        @media (min-width:550px){
            font-size: 18px;
        }
        @media (min-width:720px){
            font-size: 20px;
        }
        @media (min-width:1080px){
            font-size: 22px;
        }
        @media (min-width:1400px){
            font-size: 24px;
        }
    }
    button:active{
        transform: scale(0.96);
    }
    .inputs{
        padding: 5px;
        width: 85%;
        border-radius: 4px;
        border: 1px solid $main-color;
        text-align: center;
        font-size: 16px;
        @media (min-width:550px){
            width: 80%;
            font-size: 20px;
        }
        @media (min-width:720px){
            font-size: 22px;
            width: 75%;
        }
        @media (min-width:1080px){
            font-size: 24px;
            width: 70%;
        }
        @media (min-width:1400px){
            font-size: 26px;
            width: 65%;
        }
    }
    .cargaCV{
        width: 85%;
        padding: 7px;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;
        background-color: $main-color;
        color: white;
        font-size: 14px;
        @media (min-width:550px){
            width: 70%;
            font-size: 18px;
        }
        @media (min-width:720px){
            font-size: 20px;
            width: 65%;
        }
        @media (min-width:1080px){
            font-size: 24px;
            width: 60%;
        }
        @media (min-width:1400px){
            font-size: 26px;
            width: 55%;
        }
    }
}
