
/* navegador por enciuma de la primer linea azul*/

.navegador{
    width: 100%;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
    }
    li a{
        color: $main-color;
        font-weight: bolder;
        font-size: 25px;
        text-decoration: none;
        display: inline-block;
        padding: 5px 15px;
        @media (min-width:720px){
            font-size: 27px;
            padding: 5px 25px;
        }
        @media (min-width:720px){
            font-size: 27px;
            padding: 5px 50px;
        }
        @media (min-width:1080px){
            font-size: 27px;
            padding: 5px 60px;
        }
        @media (min-width:1400px){
            font-size: 27px;
            &:hover{
                transition: .5s;
                color: black;
                font-size: 30px;
            }
        }
    }
}